process.container = 'quay.io/nextflow/bash'

google {
    project = 'data-science-siatik'
    region  = 'us-central1'
    batch.network = 'projects/data-science-siatik/global/networks/default'
    batch.subnetwork = 'projects/data-science-siatik/regions/us-central1/subnetworks/default'
}

profiles {
  gcb2 {
    process {
        executor = 'google-batch'
        container = 'quay.io/nextflow/rnaseq-nf:v1.2.1'

        // Add specific settings for SALMON_INDEX
        withName: 'SALMON_INDEX' {
            memory = '64 GB'
            disk = '500 GB'
        }
    }
    
    workDir = 'gs://nextflow-skygenic/workDir' // <- replace with your own bucket!
    
    google {
        project = 'data-science-siatik'
        region  = 'us-central1'
        batch.network = 'projects/data-science-siatik/global/networks/default'
        batch.subnetwork = 'projects/data-science-siatik/regions/us-central1/subnetworks/default'
    }
  }
}
